## Import Library

In [ ]:
import pandas as pd

---
---
# 1. Import Dataset

Pandas memiliki function yang disiapkan untuk mengimport berbagai jenis file.

- Untuk `csv` dan `txt` digunakan `read_csv`
- Untuk `sqlite` digunakan `read_sql`
- Untuk `xlsx` digunakan `read_excel`

### A. CSV File

In [ ]:
data_csv = pd.read_csv("hr_data.csv")

In [ ]:
data_csv.head()

### B. Problem
- Agar data yang kita miliki lebih mudah untuk dibaca, `sep` akan sama dengan `";"`.

In [ ]:
data_csv = pd.read_csv("hr_data.csv", sep=";")
data_csv.head()

### C. Excel

Untuk data Excel, kita hanya mengganti function `read_csv` menjadi `read_excel` untuk Excel.

In [ ]:
data_excel = pd.read_excel("hr_data.xlsx")
data_excel.head()

### D. SQL 

Untuk data SQL, kita mengganti function `read_csv` menjadi `read_sql`.

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect("./database.sqlite") # buka koneksi untuk akses path  h sql file
data_sql = pd.read_sql("SELECT * from Match", con)

In [ ]:
data_sql.head(3)

### E. Export to CSV

In [ ]:
data_csv.to_csv("data_hr_from_python.csv", sep=',')

---
# 2. DataFrame dan Series

---
### A.Bentuk Data

Berikut adalah beberapa cara mengubah bentuk data. 
* `Series` adalah data satu kolom.
* `Dataframe` adalah data dalam tabel

In [ ]:
data_csv.head(10)

In [ ]:
type(data_csv)

In [ ]:
data_csv["satisfaction_level"].head()

In [ ]:
type(data_csv["satisfaction_level"])

### B. Menampilkan semua judul kolom

In [ ]:
data_hr = data_csv

In [ ]:
data_hr.columns

**Latihan**

1. dari `data_sql` coba tampilkan seluruh kolom dari data

In [ ]:
data_sql.head()

In [ ]:
data_sql.columns

### C. Selecting Variables 

1. Sebelumnya, hanya ditampilkan data secara utuh. Namun kita juga bisa fokus pada suatu kolom saja dengan menggunakan `['nama_kolom']`

In [ ]:
data_hr["satisfaction_level"].head()

In [ ]:
data_hr.satisfaction_level.head()

2. Tidak hanya terbatas satu kolom, namun juga dapat memilih beberapa kolom dengan menggunakan `list` seperti `["satisfaction_level", "Work_accident"]`

In [ ]:
data_hr[["satisfaction_level", "Work_accident"]].head() # Selecting Multiple Variables

In [ ]:
type(data_hr[["satisfaction_level", "Work_accident"]])

**Latihan**

1. dari `data_hr` coba tampilkan kolom `number_project` saja

In [ ]:
data_hr["number_project"]

2. Dari `data_hr` coba tampilkan kolom `salary` dan `division`

In [ ]:
data_hr[["number_project", "salary"]]

In [ ]:
data_hr.columns

### D. Mengubah nama kolom sales menjadi department

In [ ]:
data_hr.columns

In [ ]:
data_hr.columns = ['satisfaction_level', 'last_evaluation',
                   'number_project', 'average_montly_hours',
                   'time_spend_company', 'Work_accident', 'left',
                   'promotion_last_5years', 'department', 'salary']

In [ ]:
data_hr.rename(columns = {"salary" : "gaji"})

In [ ]:
data_hr.head()

**Latihan**

1. dari `data_sql` coba ganti nama kolom `team_1` menjadi `team_pertama`

In [ ]:
data_sql.head()

In [ ]:
data_sql.rename(columns = {"Team_1" : "Team_Pertama"}, inplace = True)

---
### E. Join 2 variables

In [ ]:
data_hr.columns

In [ ]:
data_hr["satisfaction_level"].head()

In [ ]:
data_hr["last_evaluation"].head()

In [ ]:
a = data_hr["satisfaction_level"]
b = data_hr["last_evaluation"]

In [ ]:
c = pd.concat([a, b], axis = 1)

In [ ]:
c

---
---
# 3. Melihat Data "Keseluruhan"

### A. Melihat Informasi Keseluruhan

In [ ]:
data_hr.info()

### B. Melihat komponen statistik dasar

In [ ]:
data_hr.describe()

**Latihan**

1. dari `data_sql` coba tampilkan deskripsi dan info nya.

In [ ]:
data_sql.describe()